.table-title {
  font-weight: bold;
  padding: 0.2em;
}

.table-card-title {
  font-weight: bold;
}

.table-card-text {
  text-align: left;
}

.table-card-price {
  font-weight: bold;
}

.table-card-image {
  width: 14rem;
}

.card-row {
  margin: auto;
  padding: 2em;
}

.table-card-button {
  background-color: #333a42;
}
