.table-title {
  font-weight: bold;
  padding: 0.2em;
}

.table-card-title {
  font-weight: bold;
}

.table-card-text {
  text-align: left;
}

.table-card-price {
  font-weight: bold;
}

.table-card-image {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.table-card-col {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  margin-bottom: 1.5rem !important;
}

.card-row {
  margin: auto;
  padding: 2em;
}

.table-card-button {
  background-color: #333a42;
}
